:root {
    --hero-h2-color: #2c6d86;
    --hero-descr-color: #333;
    --font-size-h2: 25px;
    --font-family-p: 'Rubik', Helvetica, Arial, sans-serif;
    --hero-h3-color: rgb(181, 153, 0)
}

.hero-Itu .hero-text h3,
.hero-KOTL .hero-text h3,
.hero-Marcus .hero-text h3,
.hero-june .hero-text h3 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 26px;
    text-transform: uppercase
}

.explore-text {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px
}

.explore-text h2 {
    font-size: 25px;
    color: var(--hero-h2-color);
    text-transform: uppercase
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f6f7f0
}

.hero-image {
    max-width: 50%;
    height: auto;
    margin-top: -100px
}

.hero-Itu .hero-text h2,
.hero-KOTL .hero-text h2,
.hero-Marcus .hero-text h2,
.hero-june .hero-text h2 {
    font-size: var(--font-size-h2);
    font-weight: 700;
    color: var(--hero-h2-color);
    text-align: left;
    margin-bottom: 10px
}

.hero-Marcus .hero-text h3 {
    font-size: 18px;
    color: #8842cf
}

.hero-Itu .hero-text h3,
.hero-KOTL .hero-text h3,
.hero-june .hero-text h3 {
    font-size: 18px;
    color: var(--hero-h3-color)
}

.hero-Itu .hero-text p,
.hero-KOTL .hero-text p,
.hero-Marcus .hero-text p,
.hero-june .hero-text p {
    font-size: 18px;
    line-height: 1.5;
    font-style: italic;
    font-family: var(--font-family-p);
    color: var(--hero-descr-color);
    margin: 0 auto;
    width: 80%;
    text-align: justify
}

.spacing {
    height: 50px
}