.follow-on-social-media {
    text-align: center;
    margin-top: 20px
}

.follow-on-social-media h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #2c6d86
}

.follow-on-social-media ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px
}

.follow-on-social-media li {
    display: flex;
    align-items: center
}

.follow-on-social-media i {
    font-size: 30px;
    margin-right: 8px
}

.follow-on-social-media .twitter i {
    color: #1da1f2
}

.follow-on-social-media .facebook i {
    color: #3b5998
}

.follow-on-social-media .youtube i {
    color: red
}

.follow-on-social-media a {
    text-decoration: none;
    color: #333
}

.follow-on-social-media a:hover {
    color: #000
}

.follow-on-social-media a:hover i {
    opacity: .8
}