.gallery-title {
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin: 20px 0;
    color: #2c5d6f
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: stretch
}

.gallery-item img,
.gallery-item video {
    width: 100%;
    height: auto
}

.image-description {
    padding: 10px 0;
    text-align: left;
    font-size: 14px;
    line-height: 1.5
}

@media (max-width:768px) {
    /* Adjust gallery layout for screens 768px wide or smaller */
    .gallery {
        /* Create a responsive grid with columns that auto-fill based on available space,
           each column will be at least 150px wide */
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    /* Adjust image description text size for smaller screens */
    .image-description {
        /* Set a smaller font size for image descriptions on small screens */
        font-size: 12px;
    }
}
