/* Variable for reuse of code */
:root {
    --text-description-color: #2c5d6f;
}

/* Common style for h2 and h3 */
.description-text h2,
.description-text h3 {
    display: flex;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: var(--text-description-color);
    font-size: 20px; /* Font size for h2 and h3 */
    line-height: 1.5; /* Makes text more readable */
    margin: 0 auto; /* Center the element */
    width: 100%; /* Adjust the width of the text block */
}

.description-text h3 {
    font-size: 16px; /* Specific font size for h3 */
}

/* Wrapper for description-text class */
.description-text {
    max-width: 600px;
    margin-bottom: 20px; /* Space between sections */
}

/* Left-aligned section (default) */
.description-text.left {
    text-align: left;
    margin-left: 0;
}

/* Right-aligned section */
.description-text.right {
    margin-left: auto; /* Moves the section to the right */
    margin-right: 0;
}

/* Style for headings (only h2) */
.description-text h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Style for text (p and i) */
.description-text p,
.description-text i {
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    color: #333;
    margin-top: 10px;
}

/* Links */
.text-link {
    text-decoration: none;
    color: var(--text-description-color); /* Reuse of code */
}

.text-link:hover {
    text-decoration: underline;
}
