/* Styling for the title */
.title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #2c6d86;
    margin-top: 50px; /* Avstånd ovanför titeln */
    margin-bottom: 20px; /* Avstånd nedanför titeln */
}

/* General form styling */
.join_form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Mellanrum mellan fälten i formuläret */
    width: 100%;
    max-width: 500px; /* Maximal bredd på formuläret */
    margin: auto; /* Centrerar formuläret horisontellt */
}

/* Form group styling */
.form-group {
    margin-bottom: 20px; /* Mellanrum under varje form-grupp */
    flex: 1;
}

/* Label styling */
label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px; /* Mellanrum under etiketten */
}

/* Styling for input fields and dropdown menus */
.selectable, .form-control {
    width: 100%; /* Fyller sin container */
    padding: 10px; /* Inre avstånd för att ge fälten mer plats */
    font-size: 16px; /* Bekväm textstorlek */
    border: 1px solid #ccc; /* Kantlinje runt fälten */
    border-radius: 5px; /* Rundade hörn */
    box-sizing: border-box; /* Inkluderar padding i elementets totala bredd och höjd */
    height: 3rem; /* Sätt en enhetlig höjd för alla fält */
}

/* Container for birthdate fields */
.form-row {
    display: flex; /* Flexbox för att rada upp elementen horisontellt */
    justify-content: space-between; /* Jämnt mellanrum mellan alla fält */
    gap: 10px; /* Extra mellanrum mellan varje fält */
    margin-top: -10px; /* Justerar marginalen överst */
}

/* Styling for each column in the flex layout */
.form-group-col {
    flex: 1; /* Alla kolumner (månad, dag, år) har samma bredd */
}

/* Extra container for dropdown menu to fill its column */
.dropdown-container {
    width: 100%; /* Gör att dropdown-menyn fyller sin kolumn */
}

/* Styling for the submit button */
input[type=submit] {
    padding: 10px;
    text-transform: uppercase; /* Gör texten versaler */
    background-color: #2c6d86; /* Bakgrundsfärg på knappen */
    color: white; /* Textfärg på knappen */
    border: none; /* Ingen kantlinje */
    border-radius: 5px; /* Rundade hörn */
    font-size: 16px; /* Textstorlek på knappen */
    font-weight: bold; /* Fetstil på texten */
    cursor: pointer; /* Pekare visar att det är en klickbar knapp */
    width: 100%; /* Fyller sin container */
}

input[type=submit]:hover {
    background-color: #004a67; /* Bakgrundsfärg på knappen */
}